body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .profile {
    margin-bottom: 20px; /* Ajout de marge en bas pour séparer les profils */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
  }
  
  .profile-info {
    margin-bottom: 10px; /* Ajout de marge en bas pour séparer les éléments dans le profil */
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    color: #3498db; /* Couleur du nom/surnom */
  }
  
  .profile-photo {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .no-photo {
    color: red;
  }
  
  .role {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #3498db; /* Couleur des rôles */
    color: #fff;
    border-radius: 5px;
  }
  
  .profile-roles, .profile-date {
    margin-top: 10px; /* Ajout de marge en haut pour séparer les éléments dans le profil */
  }
  
  .membership-status {
    margin-top: 10px;
    padding: 10px;
    background-color: #27ae60; /* Couleur de fond pour l'adhésion finalisée */
    color: #fff;
    border-radius: 5px;
  }
  
  .profile-folders {
    margin-top: 20px;
  }
  
  .folder-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .folder-button:disabled {
    color: red;
  }
  
  /* Ajoutez plus de styles selon vos besoins pour rendre l'interface esthétique */
  .explanation-icon {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(76, 0, 255); /* Couleur de l'icône d'explication */
  }
  
  .explanation-text {
    margin-left: 5px;
    font-size: 14px;
    color: rgb(255, 255, 255); /* Couleur du texte d'explication */
  }
  .membership-status.pending {
    background-color: rgb(255, 102, 0); /* Couleur de fond pour le statut d'adhésion en attente */
    color: black;
  }
  
    .profiles-container {
        display: flex;
        flex-wrap: wrap;
      }


/* Passage au code de la page "login.html" */

.logger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.password-input {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.password-button {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3498db;
  cursor: pointer;
}

.password-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transition: width 0.3s ease;
}

.password-button:hover::before {
  width: 100%;
}

.password-button:hover {
  background: linear-gradient(to right, #e74c3c, #3498db);
}

