body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 18px;
    background: #ccc9c9;
  }

h1 {
  color: blue;
  font: size 22px;
}

footer {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 14px;
  background-color: default;
  /* Ajouter les valeurs du footer couleur/cadre etc.... */
}

.meta {
  color: grey;
  text-align:center;
  font-size: 14px;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color:grey;
}

.tags {
  font-size: 16px;
  color: darkblue;
}
.content {
  background-color: #fff;
  border: 1px solid #cc0000;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
