body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.maintenance-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.maintenance-item {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
}

.maintenance-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.maintenance-item p {
    font-size: 16px;
    color: #444;
}
